a.navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
a > img {
    width: 55px;
    height: 50px;
    margin-right: 1rem;
}
a > span {
    background: -webkit-linear-gradient(#4593e5, #2757be, #0f2278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 0 0 100px 0;
}

main > .container > .row {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    padding: 0 120px;
}

button.btnApp {
    border-radius: 8px;
    width: 40%;
    height: 146px;
    font-size: xx-large;
}
button.create__meeting {
    border: 2px #2757be solid;
    color: #2757be;
}
button.join__meeting {
    border: 2px #42b92a solid;
    color: #42b92a;
}
button.create__meeting:hover {
    background-color: #2757be;
    color: #fff;
}
button.join__meeting:hover {
    background-color: #42b92a;
    color: #fff;
}
.carousel-item > img {
    width: 414px;
    height: 259px;
}
button.btn {
    width: 130px;
}